include ../contentBlock/contentBlock
include ../figure/figure

mixin serviceMore()
  +b.serviceMore&attributes(attributes)
    +contentBlock(null, 'Терапия').--main.shadow
      .contentBlock__top
        .contentBlock__image
          +figure("about-page.jpg", "“Наша ветклиника стабильно работает с 2000 годов”")
        .contentBlock__text
          h2.titleLarge Терапия
          p.text ТЕРАПИЯ (от1 греч. therapeia—лечение), в буквальном смысле лечение. Условно понятием «терапия» обозначают раздел медицины, известный под названием частной патологаи и терапии внутренних болезней. До середины 19 века Т. Охватывала бблыную часть клинических форм за исключением тех, которые требовали специальных методов лечения.
          
          p.text Наша ветеринарная клиника, в первую очередь, основывает свою работу на любви к животным. Именно такая искренняя
      .contentBlock__bottom
        .contentBlock__text
          h4.subtitle Какие услуги предоставляет ветеринарная клиника «ГОСВЕТКЛИНИКА»
          
          p.text Благодаря наиболее высококачественному и современному оборудованию, ветеринарная клиника по праву может гарантировать оказание наиболее точного обследования животного, а также назначения максимально эффективного метода лечения.
          
          p.text В клинике есть специальная лаборатория, что дает возможность выявить заболевание животного в кратчайшие сроки. Кроме того, есть кабинет ультразвукового исследования, в котором находится специальный диагностический сканер, позволяющий безболезненно проверить состояние здоровья питомца.
          
          p.text Помимо всего, конечно, клиникой предоставляются и хирургические услуги, так что, в случае необходимости, можно на высшем уровне и без риска для жизни животного провести операцию. Если до операции или после нее есть потребность в том, чтобы животное оставалось под присмотром ветеринаров, то в клинике также есть отделение интенсивной терапии (стационар).
          
          h4.subtitle Ветеринарная клиника «Айвета» предлагает вашему вниманию такие услуги:
          
          p.text
            span.bold Хирургия
            | – проведение разных по сложности операций;
          p.text
            span.bold Дерматология
            | – лечение кожных заболеваний, а также проблем с шерстью;
          p.text
            span.bold Офтальмология
            | – проверка зрения животного, а также лечение различных глазных заболеваний;
          p.text
            span.bold Зоопсихология
            | – анализ психического здоровья питомца, оказание помощи при каких-либо отклонениях;
          p.text
            span.bold Кардиология
            | – проверка и лечение сердечно сосудистой системы животного;
          p.text
            span.bold Стоматология
            | – проверка здоровья зубов животного и осуществление лечения при помощи современной техники.

          p.text Лечение, предоставляемое нашей клиникой всегда качественное, быстрое и результативное, поскольку применяются самые современные методы диагностики и лечения, а также осуществляется наиболее профессиональный подход.

          h4.subtitle Круглосуточная ветеринарная помощь на дому
     
          p.text Не раз могут возникнуть такие ситуации, когда нет возможности ехать вместе с животным в ветеринарную клинику. Возможно, животное находиться в тяжелом состоянии или же просто не переносит каких-либо транспортировок. К тому же, может быть, что и сам хозяин не располагает временем и возможностью ехать в клинику. Да и бывают случаи, когда необходимо экстренное оказание помощи питомцу, поэтому приезд ветеринара на дом, - самое лучшее решение.
