include ../info/info
include ../aboutInner/aboutInner
include ../figure/figure

mixin serviceMore()
  +b.serviceMore&attributes(attributes)
    +e.header
      +infoBlock()
        +infoTitle().--inner Терапия
    +e.info
      +aboutInner().--clinika
        .aboutInner__header
          +figure("images/lab.jpg", "“Наша ветклиника стабильно работает с 2000 годов”")
          .aboutInner__heading
            h2.aboutInner__title ТЕРАПИЯ
            p.aboutInner__text ТЕРАПИЯ (от1 греч. therapeia—лечение), в буквальном смысле лечение. Условно понятием «терапия» обозначают раздел медицины, известный под названием частной патологаи и терапии внутренних болезней. До середины 19 века Т. охватывала бблыную часть клинических форм за исключением тех, которые требовали специальных методов лечения, как-то: хирургия, акушерство и т. п.

        .aboutInner__main
          h4.aboutInner__subtitle Какие услуги предоставляет ветеринарная клиника «ГОСВЕТКЛИНИКА»
          p.aboutInner__text Благодаря наиболее высококачественному и современному оборудованию, ветеринарная клиника по праву может гарантировать оказание наиболее точного обследования животного, а также назначения максимально эффективного метода лечения.
          p.aboutInner__text В клинике есть специальная лаборатория, что дает возможность выявить заболевание животного в кратчайшие сроки. Кроме того, есть кабинет ультразвукового исследования, в котором находится специальный диагностический сканер, позволяющий безболезненно проверить состояние здоровья питомца.
          
        +figure("images/service-more.jpg", "цитата из текста: “На конец с 1920 г. начал выходить специальный Терапевтический архив”")
        
        .aboutInner__main
          h4.aboutInner__subtitle Какие услуги предоставляет ветеринарная клиника «ГОСВЕТКЛИНИКА»
          p.aboutInner__text Благодаря наиболее высококачественному и современному оборудованию, ветеринарная клиника по праву может гарантировать оказание наиболее точного обследования животного, а также назначения максимально эффективного метода лечения.
          p.aboutInner__text В клинике есть специальная лаборатория, что дает возможность выявить заболевание животного в кратчайшие сроки. Кроме того, есть кабинет ультразвукового исследования, в котором находится специальный диагностический сканер, позволяющий безболезненно проверить состояние здоровья питомца.
