.up
{
  position: fixed;
  right: 0;
  bottom: 4.25rem;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 2.813rem; /* 45/16 */
  height: 2.813rem; /* 45/16 */
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--mainBg);
}

.up__inner
{
  justify-content: center;
  align-items: center;
  width: 2.188rem; /* 35/16 */
  height: 2.188rem; /* 35/16 */
  border: 1px solid var(--mainTextColor);
  border-radius: 50%;
}

.up__arrow
{
  position: relative;
  overflow: hidden;
  width: .938rem; /* 15/16 */
  height: .438rem; /* 7/16 */
}

.up__arrow::before
{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  border-right: .5rem solid transparent; /* 8/16 */
  border-bottom: .5rem solid var(--mainTextColor); /* 8/16 */
  border-left: .5rem solid transparent; /* 8/16 */
}

.up__arrow::after
{
  position: absolute;
  top: 1px;
  left: 1px;
  content: '';
  border-right: .438rem solid transparent; /* 7/16 */
  border-bottom: .438rem solid var(--mainBg); /* 7/16 */
  border-left: .438rem solid transparent; /* 7/16 */
}

@media (--s)
{
  .up
  {
    display: flex;
  }
}
