.searchResult
{
  flex-direction: column;
  width: 100%;
}

.searchResult__info
{
  flex-direction: column;
  width: 100%;
  background-color: var(--innerBg);
}

.searchResult__title
{
  margin: 0;
  margin-top: 2.188rem; /* 35/16 */
  text-transform: inherit;
}

.searchResult__link
{
  margin-bottom: 1.688rem; /* 27/16 */
  text-decoration: underline;
  font-size: var(--mediumFontSize);
  font-weight: 300;
}

.searchResult__subtitle
{
  margin: 0;
  margin-bottom: 1.563rem; /* 25/16 */
  font-size: var(--largeFontSize);
}

.searchResult__pager
{
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem; /* 20/16 */
  background-color: var(--innerBg);
}
