include ../contentBlock/contentBlock
include ../pager/pager

mixin searchResult()
  +b.searchResult&attributes(attributes)
    +contentBlock(null, 'Поиск по сайту').--main.shadow
        .contentBlock__text
          h2.subtitle Поиск по запросу: “Уход за собаками”
          h4.subtitle.light Всего найдено: 31
          
          each value in ['Регламент по отлову, транспортировке, стерилизации, содержанию, учету и регистрации безнадзорных и бродячих кошек и собак в г. Москве Содержание собак и кошек)', 'Исправление прикуса собак брекетами', 'Исправление прикуса собак брекетами Лечение брекетами - это подготовленные действия ветеринарного ', 'Инструкция по профилактике гельминтозов', 'ФЗ "Об ответственном обращении с животными" (проект)', 'Антропозоонозы - болезни общие для людей и животных', 'Инструкция по борьбе с бешенством животных', 'Когда нужен ветеринарный стоматолог?', 'Новости / Постановление Главного государственного санитарного врача Российской Федерации от 1 февраля 2012 г. N 13 г. Москва «Об усилении мероприятий, направленных на профилактику бешенства в Российской Федерации».', 'Постановление Главного государственного санитарного врача РФ от 1.02. 2012 г. N 13 «Об усилении мероприятий, направленных на профилактику бешенства в РФ"', 'Бруцеллез. Санитарные нормы и правила 3.1.7.2613-10', 'Лептоспироз. СП 3.1.7.2835 -11 «Профилактика лептоспирозной инфекции у людей»', 'Списки опасных пород собак', 'Списки опасных пород собак Данные статистики говорят, что на человека может напасть собака любой по', 'Лечение подвижных зубов (шинирование)', 'Гельминтозы (глисты) собак и кошек']
            a(href="#0").searchResult__link= value
          +pager([[1, true],[2],[3]])
            | Страница:
