mixin form()
  +b.FORM(method="POST", action='').form
      +e.field
        +e('input')(id="inputName", type='text', maxlength='100', placeholder="Ваше имя", required).input.shadow--inset
        +e('label')(for='inputName').label *
      +e.field
        +e('input')(id="inputPhone", type='text', maxlength='100', placeholder="Ваш телефон", required).input.shadow--inset
        +e('label')(for='inputPhone').label *
      +e.field
        +e('input')(id="inputEmail", type='email', placeholder="Ваш e-mail").input.shadow--inset
      +e.BUTTON(type="submit").button Отправить
      +e.legend Мы гарантируем, что ваши данные в безопасности! 
      +e.legend Мы не передаем ваши данные 3-м лицам
