include ../info/info
include ../aboutInner/aboutInner
include ../price/price
include ../filters/filters

mixin adopt(list)
  +b.adopt&attributes(attributes)
    +e.header
      +infoBlock()
        +infoTitle().--inner Ищут хозяина
    +e.list
      each item in list
        +e.item
          +e('img')(src="images/#{item[0]}", alt="article1").image
          +e.info
            h4= item[1]
            p= item[2]
              +e('a')(href="#0").link читать далее
