.aboutInner__header
{
  margin-bottom: 3.125rem; /* 50/16 */
}

.aboutInner__heading
{
  flex-direction: column;
  width: 100%;
  padding-right: 1.75rem; /* 28/16 */
  padding-left: 1.75rem; /* 28/16 */
}

.aboutInner__heading--center
{
  justify-content: center;
  align-items: center;
}

.aboutInner__main
{
  flex-direction: column;
  width: 100%;
  padding-right: 3.125rem; /* 50/16 */
  padding-left: 3.125rem; /* 50/16 */
}

.aboutInner--clinika
{
  flex-direction: column;
  width: 100%;
}

.aboutInner--clinka img
{
  width: 100%;
}

.aboutInner__title
{
  text-transform: uppercase;
  color: var(--mainTextColor);
  font-size: var(--largeFontSize);
  font-weight: 600;
}

.aboutInner__date
{
  margin-bottom: .313rem; /* 5/16 */
  color: #8e8e8e;
  font-size: var(--mediumFontSize);
  font-weight: 300;
}

.aboutInner__subtitle
{
  margin-bottom: 1.8rem; /* 30/16 */
  color: var(--mainTextColor);
  font-size: var(--largeFontSize);
}

.aboutInner__subtitle--light
{
  color: var(--lightTextColor);
}

.aboutInner__text
{
  color: var(--mainTextColor);
  font-size: var(--mediumFontSize);
  font-weight: 300;
}

.aboutInner__image
{
  width: 100%;
  min-width: 14.375rem; /* 230/16 */
}
