.contentBlock
{
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem; /* 24/16 */
  border-top-left-radius: 1.25rem; /* 20/16 */
  border-top-right-radius: 1.25rem; /* 20/16 */
  border-bottom-right-radius: 1.25rem; /* 20/16 */
}

.contentBlock:last-child
{
  margin-bottom: 0;
}

.contentBlock__title
{
  align-items: center;
  width: 100%;
  height: 2.625rem; /* 42/16 */
  padding-left: 1.25rem; /* 20/16 */
  border-top-left-radius: 1.25rem; /* 20/16 */
  border-top-right-radius: 1.25rem; /* 20/16 */
  background-color: var(--mainBg);
}

.contentBlock__icon
{
  justify-content: center;
  align-items: center;
  margin-right: .938rem; /* 15/16 */
}

.contentBlock__icon svg
{
  width: 2rem; /* 32/16 */
  fill: var(--activeColor);
}

.contentBlock__body
{
  border-bottom-right-radius: 1.25rem; /* 20/16 */
  background-color: var(--innerBg);
}

.contentBlock__text
{
  flex-direction: column;
  width: 100%;
  padding-top: 1.5rem; /* 24/16 */
  padding-bottom: 1.5rem; /* 24/16 */
}

.contentBlock--main .contentBlock__text
{
  padding-right: 2.375rem; /* 38/16 */
  padding-left: 2.375rem; /* 38/16 */
}

.contentBlock--sidebar .contentBlock__text
{
  padding-right: 1.25rem; /* 20/16 */
  padding-left: 1.25rem; /* 20/16 */
}
