include ../icon/icon

mixin contentBlock(icon, title)
  +b.contentBlock&attributes(attributes)
    +e.title
      +e.icon
        +icon(icon)
      h4.title= title
    .contentBlock__body
      block
