.list,
.list__info
{
  flex-direction: column;
  width: 100%;
}

.list__item
{
  align-items: center;
  overflow: hidden;
  margin-bottom: .625rem; /* 10/16 */
  padding-right: 2.188rem; /* 35/16 */
  border-top-left-radius: 1.25rem; /* 20/16 */
  border-bottom-right-radius: 1.25rem; /* 20/16 */
  background-color: var(--innerBg);
}

.list__item:first-child
{
  margin-top: .625rem; /* 10/16 */
}

.list__item:last-child
{
  margin-bottom: 0;
}

.list__image
{
  width: 11rem; /* 176/16 */
  height: 8.75rem; /* 140/16 */
  margin-right: 2.188rem; /* 35/16 */
}

.list__info h4
{
  margin-bottom: 1.25rem; /* 20/16 */
}

.list__info p
{
  margin: 0;
  font-size: var(--mediumFontSize);
}

@media (--s)
{
  .list__item
  {
    background-color: pink;
  }
}
