.list,
.list__info
{
  flex-direction: column;
  width: 100%;
}

.list__item
{
  align-items: center;
  overflow: hidden;
  margin-bottom: .625rem; /* 10/16 */
  padding-right: 1.25rem; /* 20/16 */
  border-top-left-radius: 1.25rem; /* 20/16 */
  border-bottom-right-radius: 1.25rem; /* 20/16 */
  background-color: var(--innerBg);
}

.list__item:first-child
{
  margin-top: .625rem; /* 10/16 */
}

.list__item:last-child
{
  margin-bottom: 0;
}

.list__image
{
  width: 11rem; /* 176/16 */
  height: 8.75rem; /* 140/16 */
  margin-right: 2.188rem; /* 35/16 */
}

.list__info
{
  align-self: stretch;
  padding-top: .938rem; /* 15/16 */
  padding-bottom: .938rem; /* 15/16 */
}

.list__info h4
{
  margin-bottom: 1.25rem; /* 20/16 */
}

.list__info p
{
  margin: 0;
  font-size: var(--mediumFontSize);
}

.list__data
{
  display: none;
  justify-content: flex-end;
  font-size: .625rem; /* 10/16 */
}

.list__link
{
  margin-left: .3rem;
}

@media (--s)
{
  .list__item
  {
    height: 4.5rem; /* 72/16 */
  }

  .list__image
  {
    width: 6rem; /* 96/16 */
    height: 4.5rem; /* 72/16 */
    margin-right: 1.25rem; /* 20/16 */
  }

  .list__info
  {
    overflow: hidden;
    padding-top: .313rem; /* 5/16 */
    padding-bottom: .313rem; /* 5/16 */
  }

  .list__info h4
  {
    display: inline-block;
    overflow: hidden;
    margin-bottom: .313rem; /* 5/16 */
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .list__info p
  {
    display: inline-block;
    overflow: hidden;
    height: 2.3rem;
    text-overflow: ellipsis;
    font-size: var(--smallFontSize);
    line-height: 1.3;
  }

  .list__data
  {
    display: flex;
  }
}
