mixin list(list)
  +b('section').list
    +e('h4').title
      block
    +e('ul').body
      each item in list
        li= item.name
    +e.button
      +e('a')(href="#0").ok Ok
      +e('a')(href="#0").total Итоги
