.priceList
{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.priceList ul
{
  overflow: hidden;
  max-height: 0;
  transition: max-height .15s ease-out;
}

.priceList li
{
  list-style-type: none;
}

.priceList input[type=checkbox]
{
  position: absolute;
  opacity: 0;
}

.priceList input[type=checkbox]:checked + label + ul,
.priceList input[type=checkbox]:checked + label:nth-of-type(n) + ul
{
  max-height: 30rem;
  transition: max-height .25s ease-in;
}

.priceList input[type=checkbox]:checked + label .priceList__icon
{
  transform: rotate(90deg);
  fill: var(--activeColor);
}

.priceList__item
{
  display: block;
  margin-bottom: 1px;
  background-color: var(--mainBg);
}

.priceList__item:first-child
{
  margin-top: 1px;
}

.priceList__item:last-child
{
  margin-bottom: 0;
}

.priceList__label
{
  position: relative;
  display: block;
  padding-top: .643em;
  padding-right: 1.438rem; /* 23/16 */
  padding-bottom: .643em;
  padding-left: 2.813rem; /* 45/16 */
  cursor: pointer;
  font-size: var(--mediumFontSize);
  font-weight: 600;
}

.priceList__icon
{
  position: absolute;
  top: 0;
  left: 1.313rem; /* 21/16 */
  display: inline-block;
  width: .5rem; /* 8/16 */
  height: 100%;
  transition: all .2s ease;
  fill: var(--mainTextColor);
}

.priceList__innerList
{
  margin: 0;
  padding: 0;
}

.priceList__itemInner
{
  display: flex;
  align-items: center;
  min-height: 2.625rem; /* 42/16 */
  padding-top: .625rem; /* 10/16 */
  padding-bottom: .625rem; /* 10/16 */
}

.priceList__itemInner:nth-child(odd)
{
  background-color: var(--innerBg);
}

.priceList__itemInner:nth-child(even)
{
  background-color: #fff;
}

.priceList__innerList span
{
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--mediumFontSize);
  font-weight: 300;
  line-height: 1;
}

.priceList__number
{
  lost-column: 1/10 0 0;

  justify-content: center;
}

.priceList__title
{
  lost-column: 4/10 0 0;

  justify-content: flex-start;
}

.priceList__unit
{
  lost-column: 3/10 0 0;

  justify-content: center;
}

.priceList__price
{
  lost-column: 2/10 0 0;

  justify-content: center;
}

.priceList__description span
{
  font-size: var(--mediumFontSize);
  font-weight: 600;
}

@media (--s)
{
  .priceList__label
  {
    font-size: var(--smallFontSize);
  }

  .priceList__innerList span
  {
    font-size: var(--smallFontSize);
  }

  .priceList__title
  {
    lost-column: 7/10 0 0;
  }

  .priceList__unit
  {
    display: none;
  }
}
