mixin breadcrumbs(current)
  +b.breadcrumbs&attributes(attributes)
    +b('ul').breadcrumbs
      +e.item
        +e('a')(href="/").link Госветлиника &nbsp;
      +e.item
        +e('a')(href="#0").link= "/" + "\xa0" + "\xA0" + current
        
        
