.breadcrumbs
{
  margin: 0;
  padding: 0;
  padding-left: .813rem; /* 13/16 */
  border: 1px solid #000;
}

.breadcrumbs__item
{
  display: inline-block;
  list-style-type: none;
}

.breadcrumbs__item a
{
  text-transform: uppercase;
  font-size: .625rem; /* 10/16 */
}
