.breadcrumbs
{
  margin: 0;
  margin-bottom: .313rem; /* 5/16 */
  padding: 0;
  padding-left: .813rem; /* 13/16 */
}

.breadcrumbs__item
{
  display: inline-block;
  list-style-type: none;
}

.breadcrumbs__item a
{
  text-transform: uppercase;
  font-size: .625rem; /* 10/16 */
}
