mixin breadcrumbs(current)
  +b('ul').breadcrumbs&attributes(attributes)
    +e.item.light
      a(href="/") ветлиника &nbsp;
    +e.item.light
      a(href="#0")= "/" + "\xa0" + "\xA0" + current
        
        
