mixin license(list)
  +b.license&attributes(attributes)
    +e.list
      h4.subtitle Лицензии и сертификаты “ГОСВЕТКЛИНИКИ”
      each item in list
        +e.item
          +e('img')(src="assets/images/#{item[0]}", alt="license1").image
          +e.info
            span= item[1]
            +e.link
              a(href="#0").link посмотреть скан
