.license,
.license__list,
.license__info
{
  flex-direction: column;
}

.license__list
{
  padding-top: 3.313rem; /* 53/16 */
  padding-bottom: 3rem;
  padding-left: 2.875rem; /* 46/16 */
  background-color: var(--innerBg);
}

.license__item
{
  margin-bottom: 3.125rem; /* 50/16 */
}

.license__image
{
  margin-right: 1.563rem; /* 25/16 */
}

.license__info
{
  font-size: var(--mediumFontSize);
  font-weight: 300;
}

.license__info span
{
  margin-bottom: .313rem; /* 5/16 */
}
