mixin articlesPage(list)
  +b.articlesPage&attributes(attributes)
    +e.list
      each item in list
        +e.item.shadow
          +e('img')(src="assets/images/#{item[0]}", alt="article1").image
          +e.info
            h4.titleLarge= item[1]
            p.text= item[2]
              +e('a')(href="articles-more.html").link.link читать далее
