.articlesPage,
.articlesPage__info,
.articlesPage__list,
.articlesPage__filters
{
  flex-direction: column;
  width: 100%;
}

.articlesPage__header
{
  margin-bottom: .625rem; /* 10/16 */
}

.articlesPage__item
{
  align-items: center;
  margin-bottom: .625rem; /* 10/16 */
  padding-right: 2.188rem; /* 35/16 */
  background-color: var(--innerBg);
}

.articlesPage__item:last-child
{
  margin-bottom: 0;
}

.articlesPage__image
{
  margin-right: 2.188rem; /* 35/16 */
}

.articlesPage__info h4
{
  margin: 0;
  margin-bottom: 1.25rem; /* 20/16 */
  text-transform: uppercase;
  font-size: var(--largeFontSize);
  font-weight: 600;
}

.articlesPage__info p
{
  margin: 0;
  font-size: var(--mediumFontSize);
  font-weight: 300;
}

.articlesPage__link
{
  text-decoration: underline;
  color: var(--bannerBg);
}
