include ../container/container
include ../hero/hero
include ../filters/filters
include ../contentBlock/contentBlock

mixin index()
  +b.index
    .index__group
      +hero()
    .index__group
      +container()
        +filters(getData('filters'))
    .index__group
      +container()
        .index__main
          +contentBlock('hospital', 'О ветклинике')
          +contentBlock('book', 'Статьи')
        .index__sidebar
          +contentBlock('check', 'Опрос')
          +contentBlock('vacancy', 'Вакансии')
          +banner('Лаболатория ветклиники', ['tubes']).shadow
          +banner('Зоогостиница', ['hotel']).shadow
          +banner('Зоотакси', ['taxi']).shadow
          
          
      
