.index,
.index__main,
.index__sidebar
{
  flex-direction: column;
  width: 100%;
}

.index__group
{
  width: 100%;
}

.index__main
{
  lost-column: 6/8;

  padding-top: 2.813rem; /* 45/16 */
}

.index__sidebar
{
  lost-column: 2/8;

  padding-top: 2.813rem; /* 45/16 */
  padding-right: .625rem; /* 10/16 */
  padding-left: .625rem; /* 10/16 */
}
