include ../container/container
include ../contentBlock/contentBlock
include ../stations/stations
include ../job/job
include ../articles/articles
include ../heading/heading
include ../banner/banner
include ../filters/filters

mixin index()
  +b.index
    .index__group
      +container()
        .index__mobile
          .index__first
            .index__heading
              +heading() Ветклиника
            .index__btn
              +banner('Вызов ветеринара', ['fast']).--attention.--nomargin.--mobile.shadow.--outset
          .index__filters
            +filters(getData('filters')).--mobile
          .index__content
            +contentBlock(null, 'О ветклинике').--main.--mobile
              .contentBlock__image.contentBlock__image--mobile
                img(src="assets/images/about-mobile.jpg", alt="about")
              .contentBlock__text
                p.text
                  span.bold ВЕТКЛИНИКА
                  |  - один из ведущих и наиболее современный центр по оказанию помощи животным.
                p.text Приём осуществляют высококвалифицированные специалисты различных специальностей: терапевты, хирурги, анестезиологи, стоматологи, кардиологи и многие другие. Осуществляется помощь даже экзотическим животным. Оборудование кабинетов и
                  a(href="#0").link читать далее...
          .index__content
            +contentBlock(null, 'Вакансии').--main.--mobile
              .contentBlock__text
                +job([
                    {
                      "title": "Хирург",
                      "desc": "Опыт работы: от 5 лет"
                    },
                    {
                      "title": "Стоматолог",
                      "desc": "Опыт работы: от 3 лет"
                    },
                    {
                      "title": "Хирург",
                      "desc": "Опыт работы: от 5 лет"
                    },
                    {
                      "title": "Стоматолог",
                      "desc": "Опыт работы: от 3 лет"
                    }
                  ])
          .index__content.index__content--banners
            +banner('Лаболатория', ['tubes']).--round.--second.shadow--outset
            +banner('Зоогостиница', ['hotel']).--round.shadow--outset
            +banner('Груминг', ['scissors']).--round.shadow--outset
            +banner('Дрессировка', ['trainer']).--round.--second.shadow--outset
            +banner('Зоотакси', ['taxi']).--round.--second.shadow--outset
            +banner('Ищем хозяев', false, 'adopt.jpg', 'adopt.html').--round.shadow--outset
          .index__content
            p foo
        .index__main
          +contentBlock('hospital', 'О ветклинике').--main.shadow
            .contentBlock__top
              .contentBlock__image
                img(src="assets/images/about.jpg", alt="about")
              .contentBlock__text
                p.text
                  span.bold ВЕТКЛИНИКА
                  |  - один из ведущих и наиболее современный центр по оказанию помощи животным.
                p.text Приём осуществляют высококвалифицированные специалисты различных специальностей: терапевты, хирурги, анестезиологи, стоматологи, кардиологи и многие другие. Осуществляется помощь даже экзотическим животным. Оборудование кабинетов и
                  a(href="#0").link читать далее...
                p.text Эндоскоп, рентгенографическая система вовсе не являются "экзотикой" Диагностика проводится только на самом современном и совершенном оборудовании отечественных и иностранных производителей.
          +contentBlock('book', 'Статьи').--main.--col.shadow
            .contentBlock__text
              .contentBlock__col
                +articles([
                    {'name': 'Противовирусная терапия'},
                    {'name': 'Заболевания ушей'},
                    {'name': 'Профилактика заболеваний'},
                    {'name': 'Офтальмология'},
                    {'name': 'Внутренние незаразные болезни'},
                    {'name': 'Диагностика заболеваний'},
                    {'name': 'Диетическое кормление'},
                    {'name': 'Альтернативное лечение'}
                  ]) Для ветеринарных врачей
              .contentBlock__col
                +articles([
                    {'name': 'Ухода за животными'},
                    {'name': 'Профилактика болезней'}
                ]) Для владельцев животных
                +articles([
                    {'name': 'Собаки'},
                    {'name': 'Кошки'},
                    {'name': 'Лошади'},
                    {'name': 'Птицы'}
                ]) По видам животных
              .contentBlock__col
                +articles([
                    {'name': 'Предметы ухода'},
                    {'name': 'Профилактика'}
                ]) Виды ухода
                +articles([
                    {'name': 'Собаки'},
                    {'name': 'Кошки'},
                    {'name': 'Лошади'},
                    {'name': 'Птицы'}
                ]) По видам
        .index__sidebar
          +contentBlock('check', 'Опрос').--sidebar.shadow
            .contentBlock__text
              p.text В какой из наших клиник вам удобнее обслуживаться территориально?
              +stations([
                  ['Чертановская'],
                  ['Беговая'],
                  ['Савеловская', true],
                  ['Измайловская'],
                  ['Кантемировская'],
                  ['Динамо']
                ])
          +contentBlock('vacancy', 'Вакансии').--sidebar.shadow
            .contentBlock__text
              +job([
                  {
                    "title": "Хирург",
                    "desc": "Опыт работы: от 5 лет"
                  },
                  {
                    "title": "Стоматолог",
                    "desc": "Опыт работы: от 3 лет"
                  },
                ])
          +banner('Груминг', ['scissors']).--sidebar.shadow
          +banner('Дрессировка', ['trainer']).--sidebar.shadow
          +banner('Ищем хозяев', false, 'adopt.jpg', 'adopt.html').--sidebar.shadow
