include ../../../node_modules/bemto.jade/bemto
include ../page/page
include ../header/header
include ../footer/footer
include ../scripts/scripts
include ../modalForm/modalForm

- bemto_settings_element = '__'
- bemto_settings_modifier = '--'


doctype html
html(lang='ru')
  include ../head/head
  include ../icon/icon-sprite
  +page()
    +modalForm()
    +header()
    block content
    +footer()

    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    +scripts(['app.min.js'])
