include ../container/container
include ../slider/slider
include ../banner/banner

mixin hero()
  +b.hero&attributes(attributes)
    +container()
      .hero__slider
        +slider([
          [
            "slide-img1",
            "За 2015 год мы сохранили жизнь 55 002 собакам"
          ], 
          [
            "slide-img2",
            "За 2015 год мы сохранили жизнь 55 002 красным собакам"
          ],
          [
            "slide-img3",
            "За 2015 год мы сохранили жизнь 55 002 жёлтым собакам"
          ], 
          [
            "slide-img4",
            "За 2015 год мы сохранили жизнь 55 002 зелёным собакам"
          ], 
          [
            "slide-img5",
            "За 2015 год мы сохранили жизнь 55 002 голубым собакам"
          ]
          ])
      .hero__widget
        +banner('Вызов ветеринара круглосуточно', ['fast']).shadow.--attention
        +banner('Лаболатория ветклиники', ['tubes']).shadow
        +banner('Зоогостиница', ['hotel']).shadow
        +banner('Зоотакси', ['taxi']).shadow
