.stations
{
  flex-direction: column;
  width: 100%;
}

.stations__list
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.stations__item:not(:last-child)
{
  margin-bottom: .313rem; /* 5/16 */
  padding-left: 1.563rem; /* 25/16 */
}

.stations__label
{
  display: flex;
  align-items: center;
  font-size: var(--smallFontSize);
  font-weight: 300;
}

.stations__label::before
{
  display: inline-block;
  width: .75rem; /* 12/16 */
  height: .75rem; /* 12/16 */
  margin-right: .75rem; /* 12/16 */
  content: '';
  border: 1px solid var(--accentColor);
  border-radius: 50%;
  background-color: transparent;
}

.stations__input:checked + .stations__label::before
{
  background-color: var(--accentColor);
}

.stations__button
{
  padding-top: 1.25rem; /* 20/16 */
}

.stations__button .button:not(:last-child)
{
  margin-right: .75rem; /* 12/16 */
}
