.phone
{
  font-size: 1.625rem; /* 26/16 */
  font-weight: 700;
}

.phone span
{
  color: var(--activeColor);
}

.phone--mobile
{
  margin-right: .625rem; /* 10/16 */
  font-size: var(--smallFontSize);
}

.phone--mobile span
{
  color: var(--mainTextColor);
  font-size: var(--smallFontSize);
}
