mixin staff()
  +b.staffCard&attributes(attributes)
    +e('img')(src="images/avatar.png", alt="").avatar
    +e.data
      +e('h4').name Хорошов Александр Юрьевич
      +e('span').position.lightText Ветеринар, стаж 15 лет
    +e('a')(href="#0").button Задать вопрос ветеринару
