include ../info/info
include ../aboutInner/aboutInner
include ../form/form

mixin contacts()
  +b.contacts&attributes(attributes)
    +e.header
      +infoBlock()
        +infoTitle() Контакты
    +e.list
      +e.item
        +e('img')(src="images/map-large.jpg", alt="map").map
        +e.info
          +e.block
            +e('p').title Адрес ветклиники:
            +e('p').text Россия, Москва, Большая Сухаревская площадь
            +e('p').text 16 / 18
          +e.block
            +e('p').title Телефон:
            +e('p').text +7 (495) 500 50 50
          +e.block
            +e('p').title Ближайшие станци метро:
            +e.wrap
              +icon('icon-metro', 90, 74).contacts__icon
              +e('p').text Сухаревская
            +e.wrap
              +icon('icon-metro', 90, 74).contacts__icon
              +e('p').text Чистые пруды
            +e.wrap
              +icon('icon-metro', 90, 74).contacts__icon
              +e('p').text Тургеневская
          +e.block
            +e('p').title Режим работы:
            +e('p').text ПН / ВТ / СР / ЧТ / ПТ
            +e('p').text с 8:00 до 18:00
      +e.item
        +e('img')(src="images/map-large.jpg", alt="map").map
        +e.info
          +e.block
            +e('p').title Адрес ветклиники:
            +e('p').text Россия, Москва, Большая Сухаревская площадь
            +e('p').text 16 / 18
          +e.block
            +e('p').title Телефон:
            +e('p').text +7 (495) 500 50 50
          +e.block
            +e('p').title Ближайшие станци метро:
            +e.wrap
              +icon('icon-metro', 90, 74).contacts__icon
              +e('p').text Сухаревская
            +e.wrap
              +icon('icon-metro', 90, 74).contacts__icon
              +e('p').text Чистые пруды
            +e.wrap
              +icon('icon-metro', 90, 74).contacts__icon
              +e('p').text Тургеневская
          +e.block
            +e('p').title Режим работы:
            +e('p').text ПН / ВТ / СР / ЧТ / ПТ
            +e('p').text с 8:00 до 18:00
      +e.form
        +e.intro
          p Вы можете оставить ваши контакты
          p И мы ответим на ваши вопросы
          +e('span').required Обязательные поля - отмечены звездочкой
        +form()
