mixin articlesMore()
  .contentBlock__top.contentBlock__top--center
    .contentBlock__image
      +e.IMG(src="assets/images/adopt_more.jpg", alt="articles more").image
    .contentBlock__text
      h2.titleLarge Персидская кошка - марфуша
  .contentBlock__bottom
    .contentBlock__text
      p.text
        | Марфуша похожа на роскошную кустодиевскую красотку: есть на что посмотреть и за что подержаться Или на солидную, умиротворённую и пригожую купчиху. Очень уютная кошка: мягкая, круглая во всех местах, плюшевая и на ощупь приятная. Нрава ласкового и спокойного, любит понежиться в эффектных позах, помурчать да в окошко поглядеть. Марфуше около 5-х лет.
      
      p.text
        | Марфа стерилизована, приучена к качественному сухому корму, в лоток ходит исправно. Хочет быть единственной и любимой кошко-королевой. Сородичей своих не жалует. Очень ждёт заботливых хозяев. Обещает принести в дом мир, уют и покой.
      span.text Автор: Анна Доброва
      span.text Населенный пункт: Санкт-Петербург
      a(href="#0").text.link.link--noborder annapers@mail.ru
      span.text +7977 444 88 88
