include ../info/info
include ../aboutInner/aboutInner
include ../figure/figure

mixin articlesMore()
  +b.articlesMore&attributes(attributes)
    +e.header
      +infoBlock()
        +infoTitle().--inner Статьи
    +e.inner
      +aboutInner().--clinika
        .aboutInner__header
          img(src="images/article1.jpg", alt="article").aboutInner__image
          .aboutInner__heading
            h2.aboutInner__title Змеи — особенности ухода и питания
            span.aboutInner__date 10.01.2015
            p.aboutInner__text Змеи – грациозные хищные рептилии, опасные и, в какой-то степени, прихотливые к условиям своего содержания в неволе. Такой питомец даже в наше время считается
            p.aboutInner__text экзотикой, хотя все чаще и чаще люди решаются завести домашнюю змею. Это, на самом деле, шаг достаточно серьезный и, к сожалению, далеко не все новоиспеченные владельцы осознают свою ответственность.
            
        .aboutInner__main
          h4.aboutInner__subtitle Особенности ухода и питания змей
          p.aboutInner__text Выбирайте питомца грамотно. От ядовитых и слишком крупных змей лучше отказаться – слишком это опасно для домашних условий. К тому же, всегда сохраняется риск, что в один прекрасный день счастливый владелец не обнаружит любимца в террариуме. В масс-медиа западных стран часто «проскакивает» информация о выползающих из канализации потерянных рептилиях разной степени опасности. Так что недосмотр за таким животным может стоить чьей-нибудь жизни – не забывайте об этом. Даже с неядовитыми змеями стоит быть аккуратнее, ведь они достаточно сильны, чтобы задушить человека. Только бдительность не позволит Вашему питомцу стать угрозой для окружающих.
          
          p.aboutInner__text Содержать змею следует в просторном и грамотно оборудованном террариуме. Для каждого конкретного вида существуют свои предписания и правила, которые уточняются у заводчика. Кстати, приобретать змей лучше всего именно у заводчиков, а не в зоомагазинах, так Вы сможете узнать гораздо больше о приобретаемом питомце и таким образом обеспечить ему достойную жизнь.
          
          p.aboutInner__text Какие-то правила общие для большинства змей. Обычно днем температура в террариуме не должна превышать 25-280С, ночью – 230С (для разных видов эти «пороги» колеблются, но не значительно). Учитывайте, что нагревательные элементы лучше всего расположить так, чтобы змея могла устроиться под ними и погреться. Слишком высокая или слишком низкая температура чревата проблемами питомца со здоровьем.
