:root
{
  --marginCommon: 0.625rem;
  --accentActive: #d11c3a;
  --mobileHeaderColor: #2589de;
  --filtersIconColor: #cb1533;
  --widgetBgPrimary: #c31935;
  --widgetBgSecond: #248ae1;
  --bannerBg: #2a9dff;
  --infoHeaderBg: #e0e0e0;
  --infoHeaderColor: #302f2f;
  --breadcrumbsItemColor: #a5a5a5;
  --formMainColor: #69b3ff;

  --baseFontSize: 1rem;
  --smallFontSize: 0.75rem; /* 12/16 */
  --mediumFontSize: 0.875rem; /* 14/16 */
  --largeFontSize: 1.125rem; /* 18/16 */
  --mainBg: #ffd52e;
  --innerBg: #fff7d8;
  --mainTextColor: #1a1a1a;
  --lightTextColor: #797979;
  --activeColor: #f44336;
  --accentColor: #4ea4e7;
  --inputLightColor: #a5a5a5;
}

@custom-media --xs (width < 20em);
@custom-media --s (width < 30em);
@custom-media --m (width < 40em);
@custom-media --mx (width < 56.25em);
@custom-media --l (width < 60em);
