include ../icon/icon

mixin filters(list)
  +b.filters&attributes(attributes)
    each i in list
      +e.item(class= i.active ? "--active" : "")
        +e.wrap
          +icon(i.icon).filters__icon
          +e.links
            a(href="#0").title Услуги
            a(href="#0").title Цены
            a(href="#0").title Статьи
        +e.H4.title.title= i.title
