.filters
{
  justify-content: space-between;
  width: 100%;
  padding-right: 1.875rem; /* 30/16 */
  padding-left: 1.875rem; /* 30/16 */
}

.filters__item
{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;

  appearance: none;
}

.filters__wrap
{
  position: relative;
  justify-content: center;
  width: 6.875rem; /* 110/16 */
  height: 6.875rem; /* 110/16 */
  border-radius: 50%;
  background-color: #fff;
}

.filters__icon
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem; /* 64/16 */
  transition: all .4s linear;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  fill: var(--accentColor);
}

.filters__icon--active
{
  fill: var(--activeColor);
}

.filters__links
{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .4s linear;
  transform: scale(.3);
  opacity: 0;
}

.filters__links a
{
  line-height: 1.5;
}

.filters__links a:hover
{
  text-decoration: underline;
  color: var(--activeColor);
}

.filters__item:hover .filters__links
{
  transform: scale(1);
  opacity: 1;
}

.filters__item:hover .filters__icon
{
  transform: scale(.3) translate(-150%, -150%);
  opacity: 0;
}

/* mobile */

.filters--mobile
{
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 0;
  padding-left: 0;
}

.filters--mobile .filters__item
{
  lost-column: 1/2;

  position: relative;
  width: 9.063rem; /* 145/16 */
  height: 9.063rem; /* 145/16 */
  margin: 0;
  margin-bottom: .625rem; /* 10/16 */
  border-radius: 50%;
  box-shadow: .125rem .125rem .625rem 0 rgba(0, 0, 0, .2); /* 2/16, 2/16, 10/16 */
}

.filters--mobile .filters__wrap
{
  width: 100%;
  height: 100%;
  transition: all .4s linear;
  background-color: var(--innerBg);
}

.filters--mobile .filters__icon
{
  margin-top: -.313rem; /* -5/16 */
}

.filters--mobile .filters__title
{
  position: absolute;
  bottom: 1.25rem; /* 20/16 */
  left: 50%;
  transition: all .4s linear;
  transform: translateX(-50%);
  color: var(--accentColor);
  font-size: var(--smallFontSize);
}

.filters--mobile .filters__links a
{
  color: #fff;
  font-size: var(--smallFontSize);
  line-height: 2.5;
}

.filters__item:hover .filters__wrap
{
  background-color: var(--accentColor);
}

.filters__item:hover .filters__title
{
  transform: scale(.3) translate(-150%, -150%);
  opacity: 0;
}

@media (--m)
{
  .filters--mobile .filters__item
  {
    lost-column: 1/3;

    width: 9.063rem; /* 145/16 */
    height: 9.063rem; /* 145/16 */
  }
}

@media (--l)
{
  .filters--mobile .filters__item
  {
    lost-column: 0;

    width: 9.063rem;
    height: 9.063rem;
    margin-right: .625rem; /* 10/16 */
  }
}
