.filters
{
  justify-content: space-between;
  width: 100%;
  padding-right: 1.875rem; /* 30/16 */
  padding-left: 1.875rem; /* 30/16 */
}

.filters__item
{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;

  appearance: none;
}

.filters__icon
{
  justify-content: center;
  width: 6.875rem; /* 110/16 */
  height: 6.875rem; /* 110/16 */
  border-radius: 50%;
  background-color: #fff;
}

.filters__icon svg
{
  width: 4rem; /* 64/16 */
  fill: var(--accentColor);
}

.filters__icon--active svg
{
  fill: var(--activeColor);
}

.filters__links
{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filters__links a
{
  line-height: 1.5;
}

.filters__links a:hover
{
  text-decoration: underline;
  color: var(--activeColor);
}

.filters__item:hover .filters__links
{
  display: flex;
}

.filters__item:hover .filters__icon svg
{
  display: none;
}
