mixin innerList()
  +b('ul').innerList&attributes(attributes)
    li.innerList__item.innerList__description
      +innerCols().innerList__number #
      +innerCols().innerList__title Наименование услуг
      +innerCols().innerList__unit Единица измерения
      +innerCols().innerList__price Рублей
    block

mixin innerItems(items)
  each item in items
    li.innerList__item
      +innerCols().innerList__number
        = item.number
      +innerCols().innerList__title
        = item.service
      +innerCols().innerList__unit
        = item.unit
      +innerCols().innerList__price
        = item.price

mixin innerCols()
  span&attributes(attributes)
    block
