mixin job(list)
  +b.job
    each item in list
      +e.item
        +e.H4.title.title= item.title
        +e.SPAN.description.light= item.desc
        +e.button
          a(href="#0").button.button--low Подробнее
    +e.P.link
      a(href="#0").link посмотреть все вакансии
