.job
{
  flex-direction: column;
  width: 100%;
}

.job__item
{
  flex-direction: column;
  margin-bottom: 1.375rem;
  font-size: var(--mediumFontSize);
}

.job__title
{
  margin-bottom: .313rem; /* 5/16 */
}

.job__button
{
  justify-content: flex-end;
  padding-top: .5rem;
}

.job__link
{
  display: inline-block;
  margin: 0;
  text-align: right;
  font-size: var(--mediumFontSize);
}

@media (--s)
{
  .job__button
  {
    margin-top: -1.375rem; /* -22/16 */
    padding-top: 0;
  }

  .job__item
  {
    margin-bottom: 2.5rem; /* 40/16 */
  }
}
