include ../blocks/inner/inner
include ../blocks/adopt/adopt

extends ../blocks/layout-default/layout-default

block head
  - var pageType = 'inner'
  - var adopt = true

block content
  +inner()
    +adopt(getData('adopt'))
