include ../blocks/inner/inner
include ../blocks/articlesPage/articlesPage

extends ../blocks/layout-default/layout-default

block head
  - var pageType = 'inner'
  - var articles = true

block content
  +inner()
    +articlesPage(getData('articles'))
