include ../blocks/container/container
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/inner/inner
include ../blocks/contentBlock/contentBlock
include ../blocks/articlesPage/articlesPage

extends ../blocks/layout-default/layout-default

block head
  -var selected = 'articles'

block content
  +container()
    +breadcrumbs('статьи')
  +inner()
    +contentBlock(null, 'Статьи').--main.--nobg.shadow
      +articlesPage(getData('articles'))
      
