include ../blocks/container/container
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/inner/inner
include ../blocks/tabs/tabs

extends ../blocks/layout-default/layout-default

block head
  -var selected = 'hotel'

block content
  +container()
    +breadcrumbs('Зоогостиница')
  +inner()
    +tabsContent()
