include ../blocks/container/container
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/inner/inner
include ../blocks/contentBlock/contentBlock
include ../blocks/priceList/priceList
include ../blocks/filters/filters
include ../blocks/mobileTitle/mobileTitle

extends ../blocks/layout-default/layout-default

block head
  -var selected = 'price'

block content
  +mobileTitle() Стоимость услуг для рептилий
  +container()
    +breadcrumbs('Цены')
    +filters(getData('filters')).--inner
  +inner()
    +contentBlock(null, 'Стоимость ветеринарных услуг для рептилий').--main.--nobg.shadow
      +priceList(getData('price'))
