include ../blocks/container/container
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/inner/inner
include ../blocks/tabs/tabs
include ../blocks/filters/filters

extends ../blocks/layout-default/layout-default

block head
  -var selected = 'search-result'

block content
  +container()
    +breadcrumbs('Поиск по сайту')
    +filters(getData('filters')).--inner
  +inner()
    +tabsContent()
