include ../blocks/inner/inner
include ../blocks/searchResult/searchResult
include ../blocks/lab/lab
include ../blocks/doctors/doctors
include ../blocks/vacancies/vacancies
include ../blocks/license/license
include ../blocks/tabs/tabs

extends ../blocks/layout-default/layout-default

block head
  - var pageType = 'inner'
  - var about = true

block content
  +inner()
    +tabsContent()
      +searchResult().active
      +lab()#tab0.tab
      +doctors(getData('doctors'))#tab1.tab
      +vacancies(getData('vacancies'))#tab2.tab
      +license(getData('license'))#tab3.tab
