
.heading
{
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.45;
}

.heading--mobile
{
  font-size: 1.625rem;
}

@media (--mx)
{
  .heading
  {
    color: #fff;
  }

  .heading--mobile
  {
    color: var(--mainTextColor);
  }
}

.heading--footer
{
  margin-bottom: .625rem;
  font-size: 1.125rem;
}
