.tabLink
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabLink__item:not(:last-child)
{
  margin-bottom: .375rem; /* 6/16 */
}

.tabLink__item a
{
  transition: all .2s ease;
  display: inline-block;
}

.tabLink__item a:hover,
.tabLink__item--active a
{
  color: var(--activeColor);
}

.tabContent
{
  flex-direction: column;
  width: 100%;
}

.tabContent__item
{
  display: none;
}

.tabContent__item--active
{
  display: flex;
}
