include ../contentBlock/contentBlock
include ../innerAbout/innerAbout
include ../innerLab/innerLab
include ../innerVet/innerVet
include ../innerJob/innerJob
include ../innerLicense/innerLicense
include ../innerHotel/innerHotel
include ../list/list

mixin tabLink(list)
  +b('ul').tabLink&attributes(attributes)
    each item, index in list
      +e.item
        a(href='#tab#{index}', class='#{item[1]}')= item[0]

mixin tabsContent()
  +b.tabContent&attributes(attributes)
    case selected
      when "about"
        .tabContent__item.tabContent__item--active
          +innerAbout()
        .tabContent__item#tab0
          +innerLab()
        .tabContent__item#tab1
          +innerVet()
        .tabContent__item#tab2
          +innerJob()
        .tabContent__item#tab3
          +innerLicense()
      when "hotel"
        .tabContent__item.tabContent__item--active
          +innerHotel()
        .tabContent__item#tab0
          +innerLab()
        .tabContent__item#tab1
          +innerVet()
        .tabContent__item#tab2
          +innerJob()
        .tabContent__item#tab3
          +innerLicense()
      when "laboratory"
        .tabContent__item#tab0.tabContent__item--active
          +innerLab()
        .tabContent__item#tab1
          +innerVet()
        .tabContent__item#tab2
          +innerJob()
        .tabContent__item#tab3
          +innerLicense()
      when "adopt"
        .tabContent__item#tab0.tabContent__item--active
          +contentBlock(null, 'Ищут хозяина').--main.--nobg.shadow
            +list(getData('adopt'))
        .tabContent__item#tab1
          +contentBlock(null, 'Нашли семью').--main.--nobg.shadow
            +list(getData('adopt'))
