mixin tabsLink(list)
  +b('ul').tabLink&attributes(attributes)
    each item, index in list
      +e.item
        a(href='#tab#{index}', class='#{item[1]}')= item[0]

mixin tabsContent()
  .tab-content&attributes(attributes)
    block
