mixin tabsLink(list)
  ul.tab-links
    each item, index in list
      li&attributes(attributes)
        a(href='#tab#{index}', class='#{item[1]}')= item[0]

mixin tabsContent()
  .tab-content&attributes(attributes)
    block
