include ../innerAbout/innerAbout
include ../innerLab/innerLab
include ../innerVet/innerVet
include ../innerJob/innerJob
include ../innerLicense/innerLicense
include ../innerHotel/innerHotel

mixin tabLink(list)
  +b('ul').tabLink&attributes(attributes)
    each item, index in list
      +e.item
        a(href='#tab#{index}', class='#{item[1]}')= item[0]

mixin tabsContent()
  +b.tabContent&attributes(attributes)
    if (selected === "about")
      .tabContent__item.tabContent__item--active
        +innerAbout()
    if (selected === "hotel")
      .tabContent__item.tabContent__item--active
        +innerHotel()
    if (selected === "laboratory")
      .tabContent__item#tab0.tabContent__item--active
        +innerLab()
    else
      .tabContent__item#tab0
        +innerLab()
    .tabContent__item#tab1
      +innerVet()
    .tabContent__item#tab2
      +innerJob()
    .tabContent__item#tab3
      +innerLicense()
