.banner
{
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 4.375rem; /* 70/16 */
  margin-bottom: .75rem; /* 12/16 */
  padding-left: 1.875rem; /* 30/16 */
  cursor: pointer;
  border-radius: 4.375rem; /* 70/16 */
  border-bottom-left-radius: 0;
  background-color: var(--accentColor);
}

.banner:last-child
{
  margin-bottom: 0;
}

.banner__title
{
  color: #fff;
  font-size: var(--mediumFontSize);
  font-weight: 600;
}

.banner__icon,
.banner__image
{
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 4.375rem; /* 70/16 */
  max-width: 4.375rem;
  height: 4.375rem; /* 70/16 */
  border-radius: 50%;
}

.banner__icon svg
{
  width: 2.625rem; /* 42/16 */
  fill: #fff;
}

.banner.banner--attention
{
  margin-bottom: 1.063rem; /* 17/16 */
  background-color: var(--activeColor);
}

.banner--attention.banner--nomargin
{
  margin-bottom: 0;
}

.banner--attention .banner__title
{
  text-transform: uppercase;
  font-size: var(--smallFontSize);
  font-weight: 700;
}

.banner.banner--sidebar
{
  background-color: var(--mainBg);
}

.banner.banner--sidebar .banner__title
{
  color: var(--mainTextColor);
}

.banner.banner--sidebar .banner__icon
{
  background-color: var(--accentColor);
}

.banner--mobile
{
  height: 3rem; /* 48/16 */
  border-radius: 3rem; /* 48/16 */
  line-height: 3rem; /* 48/16 */
}

.banner--mobile .banner__title
{
  justify-content: center;
  width: 100%;
}

.banner--round
{
  lost-column: 1/2;

  position: relative;
  justify-content: center;
  width: 9.063rem; /* 145/16 */
  height: 9.063rem; /* 145/16 */
  margin-bottom: .625rem; /* 10/16 */
  padding-left: 0;
  border-radius: 50%;
}

.banner--round .banner__title
{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: var(--smallFontSize);
  line-height: 1.3;
}

.banner--round .banner__icon,
.banner--round .banner__image
{
  min-width: 4rem; /* 64/16 */
  max-width: 4rem; /* 64/16 */
  margin-top: -1.75rem; /* -28/16 */
  border-radius: 0;
}

.banner--round .banner__icon svg
{
  width: 100%;
}

.banner--round .banner__image
{
  border-radius: inherit;
}

.banner--second
{
  color: var(--accentColor);
  background-color: var(--mainBg);
}

.banner--second .banner__icon svg
{
  fill: var(--accentColor);
}

.banner--second .banner__title
{
  color: var(--accentColor);
}

@media (--m)
{
  .banner--round
  {
    lost-column: 1/3;

    width: 9.063rem; /* 145/16 */
    height: 9.063rem; /* 145/16 */
  }

  .banner--round:nth-child(odd)
  {
    background-color: var(--mainBg);
  }

  .banner--round:nth-child(odd) .banner__icon svg
  {
    fill: var(--accentColor);
  }

  .banner--round:nth-child(odd) .banner__title
  {
    color: var(--accentColor);
  }

  .banner--round:nth-child(even)
  {
    background-color: var(--accentColor);
  }

  .banner--round:nth-child(even) .banner__icon svg
  {
    fill: #fff;
  }

  .banner--round:nth-child(even) .banner__title
  {
    color: #fff;
  }
}

@media (--l)
{
  .banner--round
  {
    lost-column: 0;

    width: 9.063rem;
    height: 9.063rem;
    margin-right: .625rem; /* 10/16 */
  }
}
