.banner
{
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 4.375rem; /* 70/16 */
  margin-bottom: .75rem; /* 12/16 */
  padding-left: 1.875rem; /* 30/16 */
  cursor: pointer;
  border-radius: 4.375rem; /* 70/16 */
  border-bottom-left-radius: 0;
  background-color: var(--bannerBg);
}

.banner:last-child
{
  margin-bottom: 0;
}

.banner__title
{
  color: #fff;
  font-size: var(--mediumFontSize);
  font-weight: 600;
}

.banner__icon,
.banner__image
{
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 4.375rem; /* 70/16 */
  max-width: 4.375rem;
  height: 4.375rem; /* 70/16 */
  border-radius: 50%;
}

.banner__icon svg
{
  width: 2.625rem; /* 42/16 */
  fill: #fff;
}

.banner.banner--attention
{
  margin-bottom: 1.063rem; /* 17/16 */
  background-color: var(--activeColor);
}

.banner--attention.banner--nomargin
{
  margin-bottom: 0;
}

.banner--attention .banner__title
{
  text-transform: uppercase;
  font-size: var(--smallFontSize);
  font-weight: 700;
}

.banner.banner--sidebar
{
  background-color: var(--mainBg);
}

.banner.banner--sidebar .banner__title
{
  color: var(--mainTextColor);
}

.banner.banner--sidebar .banner__icon
{
  background-color: var(--accentColor);
}

.banner--mobile
{
  height: 3rem; /* 48/16 */
  border-radius: 3rem; /* 48/16 */
  line-height: 3rem; /* 48/16 */
}

.banner--mobile .banner__title
{
  justify-content: center;
  width: 100%;
}
