.figure
{
  width: 100%;
  margin: 0;
}

.figure img
{
  width: 100%;
  height: auto;
}

.figure__caption
{
  display: flex;
  margin: 0;
  padding-top: 1.063rem; /* 17/16 */
  padding-right: 3.125rem; /* 50/16 */
  padding-left: 3.125rem; /* 50/16 */
  text-align: left;
  font-size: var(--mediumFontSize);
  font-weight: 600;
  font-style: italic;
}

@media (--s)
{
  .figure__caption
  {
    display: none;
  }
}
