.formIntro
{
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1.563rem; /* 25/16 */
  border: .313rem solid var(--accentColor); /* 5/16 */
  border-radius: 1.25rem; /* 20/16 */
}

.formIntro p:last-of-type
{
  color: var(--accentColor);
}

.formIntro__required
{
  display: inline-block;
  color: var(--accentColor);
  font-size: var(--mediumFontSize);
  font-style: italic;
}

.formIntro__required::after
{
  content: ' *';
  vertical-align: bottom;
  color: var(--activeColor);
}

.formIntro--modal .formIntro__title:first-child
{
  text-transform: uppercase;
  font-weight: 700;
}
