.header
{
  display: flex;
  padding-top: 1.75rem; /* 28/16 */
  background-color: var(--mainBg);
}

.header,
.header__col
{
  flex-direction: column;
  width: 100%;
}

.header__row
{
  justify-content: space-between;
  align-items: center;
  margin-bottom: .125rem; /* 2/16 */
}

.header__col--wide
{
  lost-column: 6/8;
}

.header__col--narrow
{
  lost-column: 2/8;

  justify-content: flex-end;
  align-items: center;
}

.header__search
{
  lost-column: 2/6;

  padding-right: .625rem; /* 10/16 */
  padding-left: .625rem; /* 10/16 */
}
