.header
{
  display: flex;
  margin-bottom: 6.938rem; /* 111/16 */
  padding-top: 1.75rem; /* 28/16 */
  background-color: var(--mainBg);
}

.header__wrap,
.header__col
{
  flex-direction: column;
  width: 100%;
}

.header__row
{
  justify-content: space-between;
  align-items: center;
  margin-bottom: .125rem; /* 2/16 */
}

.header__col--wide
{
  lost-column: 6/8;
}

.header__col--narrow
{
  lost-column: 2/8;

  align-items: center;
  padding-top: 2.188rem; /* 35/16 */
}

.header__search
{
  lost-column: 2/6;

  padding-right: .625rem; /* 10/16 */
  padding-left: .625rem; /* 10/16 */
}

.header__bottom
{
  margin-bottom: 1.938rem; /* 31/16 */
}

.header__filters
{
  margin-bottom: -4.625rem; /* -74/16 */
}
