include ../container/container
include ../menu/menu
include ../search/search
include ../phone/phone
include ../heading/heading

mixin header()
  +b('header').header&attributes(attributes)
    +container()
      .header__col.header__col--wide
        .header__row
          .header__heading
            +heading() Ветклиника
          .header__search
            +search().shadow--inset
        +menu(getData('menu'))#js-top-menu
      .header__col.header__col--narrow
        +phone() 7 (495)&nbsp;
            span 500 50 50
