.menu
{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu__item
{
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: .313rem; /* 5/16 */
  padding-right: .438rem; /* 7/16 */
  padding-bottom: .313rem; /* 5/16 */
  padding-left: .438rem; /* 7/16 */
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border-radius: .375rem; /* 6/16 */
  font-size: var(--smallFontSize);
  font-weight: 300;
}

.menu__item:hover,
.menu__item--active
{
  background-color: #fff;
}

.menu--footer
{
  flex-direction: column;
  width: 100%;
}

.menu--footer .menu__item
{
  justify-content: flex-start;
}

.menu--footer .menu__item:hover,
.menu--footer .menu__item--active
{
  text-decoration: underline;
  color: var(--accentColor);
  background: none;
}

@media (--s)
{
  .menu
  {
    display: none;
  }

  .menu--mobile
  {
    position: absolute;
    z-index: 10;
    top: 37px;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: .938rem; /* 15/16 */
    padding-bottom: .625rem; /* 10/16 */
    border-bottom-right-radius: 1.25rem; /* 20/16 */
    border-bottom-left-radius: 1.25rem; /* 20/16 */
    background-color: var(--mainBg);
  }

  .menu--mobile .menu__item
  {
    justify-content: flex-start;
    padding-left: 4.375rem; /* 70/16 */
    font-size: var(--smallFontSize);
    font-weight: 700;
    line-height: 2rem;
  }
}
