.menu
{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu.is-visible
{
  position: absolute;
  z-index: 10;
  top: 3.25rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3.75rem; /* 60/16 */
  color: #fff;
  background-color: var(--mobileHeaderColor);
}

.menu.is-visible .menu__item
{
  margin-bottom: .938rem; /* 15/16 */
  font-weight: 700;
}

.menu__item
{
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: .313rem; /* 5/16 */
  padding-right: .438rem; /* 7/16 */
  padding-bottom: .313rem; /* 5/16 */
  padding-left: .438rem; /* 7/16 */
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border-radius: .375rem; /* 6/16 */
  font-size: var(--smallFontSize);
  font-weight: 300;
}

.menu__item:hover
{
  background-color: #fff;
}
