.vacancies
{
  flex-direction: column;
  width: 100%;
}

.vacancies__list
{
  flex-direction: column;
  margin-bottom: .625rem; /* 10/16 */
  padding-top: 2rem; /* 32/16 */
  padding-bottom: 2rem; /* 32/16 */
  padding-left: 2.875rem; /* 46/16 */
  background-color: var(--innerBg);
}

.vacancies__link
{
  margin-bottom: .5rem; /* 8/16 */
  text-decoration: underline;
  color: var(--bannerBg);
}

.vacancies__link:last-child
{
  margin-bottom: 0;
}

.vacancies__description
{
  flex-direction: column;
  margin-bottom: .625rem; /* 10/16 */
  padding-top: 1.25rem; /* 20/16 */
  padding-right: 2.875rem; /* 46/16 */
  padding-bottom: 1.25rem; /* 20/16 */
  padding-left: 2.875rem; /* 46/16 */
  background-color: var(--innerBg);
  font-size: var(--mediumFontSize);
  font-weight: 300;
}

.vacancies__description h3,
.vacancies__description h4
{
  margin: 0;
  margin-bottom: .375rem; /* 6/16 */
  font-size: var(--largeFontSize);
}

.vacancies__description h3
{
  font-weight: 600;
}

.vacancies__description h4
{
  font-weight: 400;
}

.vacancies__description p
{
  font-size: var(--mediumFontSize);
  font-weight: 300;
}

.vacancies__description ul
{
  padding-left: 1rem;
}
