mixin vacancies(list)
  +b.vacancies&attributes(attributes)
    +e.list
      +e.item
        a(href="#0").link Хирург
      +e.item
        a(href="#0").link Ветеринар
      +e.item
        a(href="#0").link Терапевт
      +e.item
        a(href="#0").link Охраник
      +e.item
        a(href="#0").link Водитель
    each item in list
      +e.description
        h3.subtitle= item.title
        p.text= item.desc
        h4 Требования
        p.text= item.spec
        h4 Условия
        ul
        each value in item.terms
          li.text= value
