.vacancies
{
  flex-direction: column;
  width: 100%;
}

.vacancies__list
{
  flex-direction: column;
  margin-bottom: .625rem; /* 10/16 */
  padding-top: 2rem; /* 32/16 */
  padding-bottom: 2rem; /* 32/16 */
  padding-left: 2.875rem; /* 46/16 */
  background-color: var(--innerBg);
}

.vacancies__item
{
  margin-bottom: .625rem; /* 10/16 */
}

.vacancies__item a
{
  font-weight: 600;
}

.vacancies__item:last-child
{
  margin-bottom: 0;
}

.vacancies__description
{
  flex-direction: column;
  margin-bottom: .625rem; /* 10/16 */
  padding-top: 1.25rem; /* 20/16 */
  padding-right: 2.875rem; /* 46/16 */
  padding-bottom: 1.25rem; /* 20/16 */
  padding-left: 2.875rem; /* 46/16 */
  background-color: var(--innerBg);
  font-size: var(--mediumFontSize);
}

.vacancies__description:last-child
{
  margin-bottom: 0;
}

.vacancies__description ul
{
  padding-left: 1rem;
}
