.address,
.address2
{
  flex-direction: column;
  padding-top: 1rem;
  font-size: var(--mediumFontSize);
}

.address2
{
  display: none;
}

.address__title
{
  margin-bottom: 1.438rem;
  font-size: var(--mediumFontSize);
}

.address__text
{
  margin-bottom: 1.875rem;
  font-size: var(--mediumFontSize);
}

.address__link
{
  align-self: flex-start;
}

/*@media (--mx)
{
  .footer__contact
  {
    padding-bottom: 5.625rem;
  }

  .address,
  .address2
  {
    display: flex;
    align-items: center;
    width: 58%;
    margin: 0 auto;
    text-align: center;
  }

  .address__link
  {
    display: none;
  }
}*/
