mixin address()
  +b.address
    +e('span').title.title Адрес ветклиники:
    +e('span').text.lightText Россия, Москва, Большая Сухаревская площадь 16/18
    +e('a')(href="#0").link.mainLink Посмотреть адреса клиник

mixin address2()
  +b.address2
    +e('span').text.lightText Россия, Москва, Большая Сухаревская площадь 13/1
