.serviceList
{
  flex-wrap: wrap;
  width: 100%;
  padding-top: .625rem; /* 10/16 */
}

.serviceList__item
{
  lost-waffle: 1/3 3 10px;

  align-items: center;
  overflow: hidden;
  height: 3.688rem;
  padding-right: 2.097535395909806%;
  padding-left: 4.195070791819612%;
  border-top-left-radius: 1.25rem; /* 20/16 */
  border-bottom-right-radius: 1.25rem; /* 20/16 */
  background-color: var(--innerBg);
}

.serviceList__icon
{
  min-width: .5rem; /* 8/16 */
  max-width: .5rem; /* 8/16 */
  margin-right: 16.07096940087426%;
  fill: #aaa;
}

.serviceList__item:hover .serviceList__icon
{
  fill: var(--mainTextColor);
}

.serviceList--sidebar
{
  padding-right: 1.25rem; /* 20/16 */
}

.serviceList--sidebar .serviceList__icon
{
  display: none;
}

.serviceList--sidebar .serviceList__item
{
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: .625rem; /* 10/16 */
  padding-right: .313rem; /* 5/16 */
  padding-left: 0;
  padding-left: 1.313rem; /* 21/16 */
  border: none;
  background: none;

  &:hover {
    box-shadow: none;
  }
}

.serviceList--sidebar .serviceList__title
{
  display: list-item;
  list-style-type: disc;
}

.serviceList--sidebar .serviceList__title a
{
  transition: all .2s;
}

.serviceList--sidebar .serviceList__title a:hover
{
  text-decoration: underline;
  color: var(--accentColor);
}

@media (--s)
{
  .serviceList
  {
    padding-top: 0;
  }

  .serviceList__item
  {
    lost-waffle: 1/1 0 0;

    width: 100%;
    height: 3.063rem;
    padding-left: .938rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .serviceList__item.shadow:hover {
    box-shadow: none;
  }

  .serviceList__item:nth-child(odd)
  {
    background-color: var(--innerBg);
  }

  .serviceList__item:nth-child(even)
  {
    background-color: #fff;
  }

  .serviceList__icon
  {
    min-width: .5rem;
    max-width: .5rem;
    margin-right: 1.438rem;
  }
}
