include ../icon/icon

mixin serviceList(list)
  +b.serviceList&attributes(attributes)
    each item in list
      +e.item
        +icon('arrow', 10, 16).serviceList__icon
        +e.title
          a(href="service-more.html").title= item[0]
