include ../container/container
include ../phone/phone
include ../menu/menu
include ../contentBlock/contentBlock

include ../up/up

mixin footer()
  +b.FOOTER.footer&attributes(attributes)
      +container()
        .footer--mobile
          +contentBlock(null, 'Kонтакты').--main.--mobile.--footer
            .contentBlock__text.contentBlock__text--center
              +phone().--center 7 (495)&nbsp;
                  span 500 50 50
              p.subtitle Адрес ветклиники:
              .contentBlock__address
                p Россия, Москва, Большая
                p Сухаревская площадь
                p 16 / 18
              
              .contentBlock__address
                p Россия, Москва, Большая
                p Сухаревская площадь
                p 13 / 1
              span.footer__copy © 2016 Ветклиника
              
        .footer__wrap
          .footer__header
            h4.footer__title Ветклиника
            +phone() 7 (495)&nbsp;
                span 500 50 50
          .footer__body
            .footer__col.footer__col--narrow
              .footer__inner
                +menu(getData('menu')).--footer
            .footer__col.footer__col--wide
              .footer__map
                #map
            .footer__col.footer__col--narrow
              .footer__inner
                .footer__address
                  p.title Адрес ветклиники:
                  span.text Россия, Москва
                  span.text Сухаревская площадь  
                  span.text 16 / 18
                span.footer__copy © 2016 Ветклиника
  +up()
