include ../container/container
include ../breadcrumbs/breadcrumbs
include ../banner/banner
include ../tabs/tabs
include ../contentBlock/contentBlock
include ../stations/stations
include ../job/job

mixin inner()
  +b.inner&attributes(attributes)
    +container()
      .inner__wrap
        .inner__group
          .inner__main
            block
          .inner__sidebar
            .inner__group--sidebar
              +banner('Вызов ветеринара круглосуточно', ['fast']).--attention.--nomargin.shadow
            if (selected === "about" || selected === "laboratory" || selected === "hotel" || selected === "search-result")
              .inner__group--sidebar
                .inner__menu.shadow
                  +tabLink([
                              ['Лаборатория', 'title'],
                              ['Наши ветеринары', 'title'],
                              ['Вакансии', 'title'],
                              ['Лицензии и сертификаты', 'title']
                            ])
            if (selected === "adopt" || selected === "adopt-more")
              .inner__group--sidebar
                .inner__menu.shadow
                  +tabLink([
                              ['Ищут хозяина', 'title'],
                              ['Нашли семью', 'title']
                            ])
            .inner__group--sidebar
              +banner('Лаболатория ветклиники', ['tubes']).shadow
              +banner('Зоогостиница', ['hotel']).shadow
              +banner('Зоотакси', ['taxi']).shadow
            .inner__group--sidebar
              +contentBlock('check', 'Опрос').--sidebar.shadow
                .contentBlock__text
                  p.text В какой из наших клиник вам удобнее обслуживаться территориально?
                  +stations([
                      ['Чертановская'],
                      ['Беговая'],
                      ['Савеловская', true],
                      ['Измайловская'],
                      ['Кантемировская'],
                      ['Динамо']
                    ])
            .inner__group--sidebar
              +contentBlock('vacancy', 'Вакансии').--sidebar.shadow
                .contentBlock__text
                  +job([
                      {
                        "title": "Хирург",
                        "desc": "Опыт работы: от 5 лет"
                      },
                      {
                        "title": "Стоматолог",
                        "desc": "Опыт работы: от 3 лет"
                      },
                    ])
            .inner__group--sidebar
              +banner('Груминг', ['scissors']).--sidebar.shadow
              +banner('Дрессировка', ['trainer']).--sidebar.shadow
              +banner('Ищем хозяев', false, 'adopt.jpg', 'adopt.html').--sidebar.shadow
