.inner
{
  padding-bottom: 2.5rem; /* 40/16 */
}

.inner__wrap
{
  flex-direction: column;
  width: 100%;
}

.inner__main
{
  lost-column: 6/8;
}

.inner__sidebar
{
  lost-column: 2/8;

  flex-direction: column;
  padding-left: .625rem; /* 10/16 */
}

.inner__group--sidebar
{
  flex-direction: column;
  margin-bottom: 1.5rem; /* 24/16 */
}

.inner__group--sidebar:last-child
{
  margin-bottom: 0;
}

.inner__menu
{
  width: 100%;
  padding-top: 1.563rem; /* 25/16 */
  padding-right: 1.25rem; /* 20/16 */
  padding-bottom: 1.563rem; /* 25/16 */
  padding-left: 1.875rem; /* 30/16 */
  border-top-left-radius: 1.25rem; /* 20/16 */
  border-bottom-right-radius: 1.25rem; /* 20/16 */
  background-color: var(--mainBg);
}

.inner__mobile
{
  display: none;
  flex-direction: column;
  width: 100%;
}

.inner__content
{
  width: 100%;
  margin-bottom: 2.813rem; /* 45/16 */
}

.inner__content:last-child
{
  margin-bottom: 0;
}

.inner__btn
{
  margin-bottom: 3.125rem; /* 50/16 */
}

@media (--s)
{
  .inner__group
  {
    flex-direction: column;
    width: 100%;
  }

  .inner__main
  {
    lost-column: 8/8;

    margin-bottom: 4.375rem; /* 70/16 */
  }

  .inner__sidebar
  {
    display: none;
  }

  .inner__mobile
  {
    display: flex;
  }
}
