include ../container/container
include ../filters/filters
include ../breadcrumbs/breadcrumbs

mixin inner()
  +b.inner&attributes(attributes)
    +container()
      .inner__wrap
        .inner__group
          +filters(getData('filters'))
        .inner__group
          +breadcrumbs('о ветклинике')
        .inner__group
          .inner__main
            p .inner__main
          .inner__sidebar
            p .inner__sidebar
      
