include ../info/info
include ../aboutInner/aboutInner
include ../figure/figure

mixin lab()
  +b.lab&attributes(attributes)
    +e.header
      +infoBlock()
        +infoTitle() Ветлаболатория
    +e.info
      +aboutInner().--clinika
        .aboutInner__header
          +figure("images/lab.jpg", "“Наша ветклиника стабильно работает с 2000 годов”")
          .aboutInner__heading
            h2.aboutInner__title ВЕТЛАБОЛАТОРИЯ
            h4.aboutInner__subtitle Ветеринарная помощь в любое время
            p.aboutInner__text.
              Те, кто по-настоящему любит своих домашних питомцев, конечно, печется и об их здоровье. Поэтому, если возникают какие-то проблемы или же просто вопросы, касающиеся благополучия животного, мы будем рады предоставить вам соответствующую консультацию или же необходимую квалифицированную помощь. Ветеринарная клиника «Айвета» уже 13 лет оказывает все необходимые ветеринарные услуги, а потому смогла заслужить доверие.
        .aboutInner__main
          h4.aboutInner__subtitle Какие услуги предоставляет ветеринарная клиника «ГОСВЕТКЛИНИКА»
          p.aboutInner__text Благодаря наиболее высококачественному и современному оборудованию, ветеринарная клиника по праву может гарантировать оказание наиболее точного обследования животного, а также назначения максимально эффективного метода лечения.
          p.aboutInner__text В клинике есть специальная лаборатория, что дает возможность выявить заболевание животного в кратчайшие сроки. Кроме того, есть кабинет ультразвукового исследования, в котором находится специальный диагностический сканер, позволяющий безболезненно проверить состояние здоровья питомца.
          p.aboutInner__text Помимо всего, конечно, клиникой предоставляются и хирургические услуги, так что, в случае необходимости, можно на высшем уровне и без риска для жизни животного провести операцию. Если до операции или после нее есть потребность в том, чтобы животное оставалось под присмотром ветеринаров, то в клинике также есть отделение интенсивной терапии (стационар).
