.slick-slider
{
  position: relative;
  display: block;
  user-select: none;

  touch-action: pan-y;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus
{
  outline: none;
}

.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track::before,
.slick-track::after
{
  display: table;
  content: '';
}

.slick-track::after
{
  clear: both;
}

.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img
{
  display: block;
}

.slick-slide.slick-loading img
{
  display: none;
}

.slick-slide.dragging img
{
  pointer-events: none;
}

.slick-initialized .slick-slide
{
  display: block;
}

.slick-loading .slick-slide
{
  visibility: hidden;
}

.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden
{
  display: none;
}

/* DOTS */

.slick-dots
{
  position: absolute;
  right: .313rem; /* 5/16 */
  bottom: 1.25rem; /* 20/16 */
  display: flex;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li
{
  position: relative;
  margin: 0 .188rem; /* 3/16 */
  padding: 0;
  cursor: pointer;
}

.slick-dots li button
{
  display: block;
  width: 1.125rem; /* 18/16 */
  height: 1.125rem; /* 18/16 */
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  outline: 1px solid red;
  outline: none;
  background: #fff;
  font-size: 0;
  line-height: 0;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
  box-shadow: .063rem .063rem .313rem 0 rgba(0, 0, 0, .25); /* 1/16, 1/16, 5/16, 0/16 */
}

.slick-dots li.slick-active button
{
  box-shadow: inset .063rem .063rem .188rem 0 rgba(0, 0, 0, .25); /* 1/16, 1/16, 3/16, 0/16 */
}

/* SLIDER */

.slider
{
  flex-direction: column;
  width: 100%;
}

.slider__item
{
  width: 100%;
}

.slider__title
{
  padding-top: .938rem; /* 15/16 */
  padding-bottom: 1.25rem; /* 20/16 */
  padding-left: 1.875rem; /* 30/16 */
  font-size: var(--mediumFontSize);
  font-weight: 600;
}

.slider__image
{
  max-width: 100%;
  border-top-left-radius: 2.5rem; /* 40/16 */
  border-top-right-radius: 2.5rem; /* 40/16 */
}
