mixin viewAddresses()
  +b.viewAddresses&attributes(attributes)
    +e('a')(href="#0").link.mainLink Посмотреть адреса клиник
    p У нас работает круглосуточная диспетчерская служба для консультации
