include ../filters/filters
include ../priceList/priceList
include ../priceHeader/priceHeader

mixin price()
  +b.price
    +e.filters
      +priceHeader().--mobile Стоимость услуг для собак
      +filtersMobile(getData('filters'))
    +e.content
      +e.header
      +priceHeader().--desktop Стоимость ветеринарных услуг для собак
      +priceList(getData('price'))
