include ../contentBlock/contentBlock
include ../figure/figure

mixin innerAbout()
  +b.innerAbout&attributes(attributes)
    +contentBlock(null, 'О ветклинике').--main.shadow
      .contentBlock__top
        .contentBlock__image
          +figure("about-page.jpg", "“Наша ветклиника стабильно работает с 2000 годов”")
        .contentBlock__text
          h2.titleLarge О ветклинике
          h4.subtitle Ветеринарная помощь в любое время
          p.text Те, кто по-настоящему любит своих домашних питомцев, конечно, печется и об их здоровье. Поэтому, если возникают какие-то проблемы или же просто вопросы, касающиеся благополучия животного, мы будем рады предоставить вам соответствующую консультацию или же необходимую квалифицированную помощь. Ветеринарная клиника «Айвета» уже 13 лет оказывает все необходимые ветеринарные услуги, а потому смогла заслужить доверие.
          
          p.text Наша ветеринарная клиника, в первую очередь, основывает свою работу на любви к животным. Именно такая искренняя
      .contentBlock__bottom
        .contentBlock__text
          h4.subtitle Какие услуги предоставляет ветеринарная клиника «ВЕТКЛИНИКА»
          
          p.text Благодаря наиболее высококачественному и современному оборудованию, ветеринарная клиника по праву может гарантировать оказание наиболее точного обследования животного, а также назначения максимально эффективного метода лечения.
          
          p.text В клинике есть специальная лаборатория, что дает возможность выявить заболевание животного в кратчайшие сроки. Кроме того, есть кабинет ультразвукового исследования, в котором находится специальный диагностический сканер, позволяющий безболезненно проверить состояние здоровья питомца.
          
          p.text Помимо всего, конечно, клиникой предоставляются и хирургические услуги, так что, в случае необходимости, можно на высшем уровне и без риска для жизни животного провести операцию. Если до операции или после нее есть потребность в том, чтобы животное оставалось под присмотром ветеринаров, то в клинике также есть отделение интенсивной терапии (стационар).
