.doctors,
.doctors__list
{
  flex-direction: column;
  width: 100%;
}

.doctors__header
{
  margin-bottom: .625rem; /* 10/16 */
}

.doctors__card
{
  margin-bottom: .625rem; /* 10/16 */
  background-color: var(--innerBg);
}

.doctors__card:last-child
{
  margin-bottom: 0;
}

.doctors__image
{
  margin-right: 1rem;
}

.doctors__info
{
  flex-direction: column;
  justify-content: center;
  width: 18.75rem; /* 300/16 */
  margin: 0 auto;
  color: var(--mainTextColor);
}

.doctors__name
{
  margin: 0;
  margin-bottom: .625rem; /* 10/16 */
  font-size: var(--largeFontSize);
  font-weight: 600;
}

.doctors__position
{
  font-size: var(--smallFontSize);
  font-weight: 300;
}
