mixin doctors(list)
  +b.doctors&attributes(attributes)
    +e.list
      each item in list
        +e.card.shadow
          +e('img')(src="assets/images/#{item[2]}", alt="doc1").image
          +e.info
            +e('h4').name= item[0]
            +e('p').position= item[1]
      
